@model CategoryViewModel
@section StylePage
{
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/Drag-And-Drop/dist/imageuploadify.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/fancy-file-uploader/fancy_fileupload.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/css/select2-bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Сохранение категории";
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">База данных</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Категории</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Сохранение категории</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Форма</h4>
                    </div>
                    <hr />
                    <div class="form-body">
                        <form method="post" action="/Admin/Categories/Save" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Category.Id" />
                            <input type="hidden" asp-for="Category.Photo.Id" />
                            <input id="input-hidden-photo-url" type="hidden" asp-for="Category.Photo.Url" />
                            @if (Model.Categories != null)
                            {
                                @for (int i = 0; i < Model.Categories.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Categories[i].Id" />
                                    <input type="hidden" asp-for="@Model.Categories[i].Name" />
                                }
                            }
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Фотография</label>
                                <div class="col-sm-10 form-group-row-container-image">
                                    <img id="current-photo-image" src="@(Model.Category.Photo != null ? Model.Category.Photo.Url : "")" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Наименование</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Category.Name" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Category.Name"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Родительская категория</label>
                                <div class="col-sm-10">
                                    <select id="single-select-categories" class="single-select" asp-for="Category.ParentId">
                                        @if (Model.Categories != null)
                                        {
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                            <option value="@null">Отсутствует</option>
                                        }
                                    </select>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Category.ParentId"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Загрузка фотографии</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Загрузить</span>
                                        </div>
                                        <div class="custom-file">
                                            <input name="uploadedFile" type="file" accept=".jpg, .png, image/jpeg, image/png" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Выбрать файл</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-light px-4" value="Сохранить" />
                                    <button id="remove-current-photo-button" type="button" class="btn btn-light px-4">Удалить текущую фотографию</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptPage
{
    <script src="~/plugins/fancy-file-uploader/jquery.ui.widget.js" asp-append-version="true"></script>
    <script src="~/plugins/fancy-file-uploader/jquery.fileupload.js" asp-append-version="true"></script>
    <script src="~/plugins/fancy-file-uploader/jquery.iframe-transport.js" asp-append-version="true"></script>
    <script src="~/plugins/fancy-file-uploader/jquery.fancy-fileupload.js" asp-append-version="true"></script>
    <script src="~/plugins/Drag-And-Drop/dist/imageuploadify.min.js" asp-append-version="true"></script>
    <script src="~/js/bs-custom-file-input.min.js" asp-append-version="true"></script>
    <script src="~/plugins/select2/js/select2.min.js" asp-append-version="true"></script>
    <script>
        $('#single-select-categories').select2({
            width: '100%',
            theme: 'bootstrap4',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });

        $(document).ready(function () {
            bsCustomFileInput.init()
        });
    </script>
    <script type="text/javascript">
        $('#remove-current-photo-button').on('click', function () {
            $('#current-photo-image').attr('src', '');
            $('#input-hidden-photo-url').attr('value', '');
        });
    </script>
}