@model Product
<li class="col-6 col-md-3 col-wd-2gdot4 product-item">
    <div class="product-item__outer h-100">
        <div class="product-item__inner px-xl-4 p-3">
            <div class="product-item__body pb-xl-2">
                <div class="mb-2"><a asp-area="" asp-controller="Catalog" asp-action="Products" asp-route-categoryId="@Model.Category.Id" class="font-size-12 text-gray-5">@Model.Category.Name</a></div>
                <h5 class="mb-1 product-item__title"><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.Id" class="text-blue font-weight-bold">@Model.Model</a></h5>
                <div class="mb-2">
                    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.Id" class="d-block text-center image-container h-160">
                        <img class="img-fluid" src="@(Model.MainPhoto?.GetPhotoUrl())" alt="Image Description">
                    </a>
                </div>
                <div class="flex-center-between mb-1">
                    <div class="prodcut-price">
                        <div class="text-gray-100">@Model.Price.ToString("C2")</div>
                    </div>
                    <div class="d-none d-xl-block prodcut-add-cart">
                        <a href="../shop/cart.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-item__footer">
                <div class="border-top pt-2 flex-center-between flex-wrap">
                    <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Сравнить</a>
                    <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> В желаемое</a>
                </div>
            </div>
        </div>
    </div>
</li>