@model Product
<li class="col-6 col-md-3 col-wd-2gdot4 product-item">
    <div class="product-item__outer h-100">
        <div class="product-item__inner px-xl-4 p-3">
            <div class="product-item__body pb-xl-2">
                <div class="mb-2"><a asp-area="" asp-controller="Catalog" asp-action="Products" asp-route-categoryId="@Model.Category.Id" class="font-size-12 text-gray-5">@Model.Category.Name</a></div>
                <h5 class="mb-1 product-item__title"><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.Id" class="text-blue font-weight-bold">@Model.Model</a></h5>
                <div class="mb-2">
                    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.Id" class="d-block text-center image-container h-160">
                        <img class="img-fluid" src="@(Model.MainPhoto?.GetPhotoUrl())" alt="Image Description">
                    </a>
                </div>
                <div class="mb-3">
                    <a class="d-inline-flex align-items-center small font-size-14">
                        <div class="text-warning mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                        <span class="text-secondary">(40)</span>
                    </a>
                </div>
                <div class="text-gray-20 mb-2 font-size-12">Атрибут: @Model.Id</div>
                <div class="flex-center-between mb-1">
                    <div class="prodcut-price">
                        <div class="text-gray-100">@Model.Price.ToString("C2")</div>
                    </div>
                    <div class="d-none d-xl-block prodcut-add-cart">
                        <a data-product-action="cart" data-product-id="@Model.Id"  class="btn-add-cart btn-primary transition-3d-hover cursor-pointer"><i class="ec ec-add-to-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-item__footer">
                <div class="border-top pt-2 flex-center-between flex-wrap">
                    <a data-product-action="compare" data-product-id="@Model.Id" data-product-category-id="@Model.CategoryId" data-product-compare-state="@Model.ContainsInCompare(Context.Request)"  class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Сравнить</a>
                    <a data-product-action="favorite" data-product-id="@Model.Id" data-product-favorite-state="@Model.ContainsInFavorites(Context.Request)"  class="text-gray-6 font-size-13 cursor-pointer"><i class="ec ec-favorites mr-1 font-size-15"></i> В желаемое</a>
                </div>
            </div>
        </div>
    </div>
</li> 