@model QuantityViewModel
@section StylePage
{
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/css/select2-bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Сохранение величины";
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">База данных</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Величины</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Форма</h4>
                    </div>
                    <hr />
                    <div class="form-body">
                        <form method="post" action="/Admin/Quantities/Save">
                            <input type="hidden" asp-for="Quantity.Id" />
                            @if (Model.UsedUnits != null)
                            {
                                @for (int i = 0; i < Model.UsedUnits.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.UsedUnits[i].Id" />
                                    <input type="hidden" asp-for="@Model.UsedUnits[i].Name" />
                                }
                            }
                            @if (Model.NotUsedUnitsForQuantity != null)
                            {
                                @for (int i = 0; i < Model.NotUsedUnitsForQuantity.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.NotUsedUnitsForQuantity[i].Id" />
                                    <input type="hidden" asp-for="@Model.NotUsedUnitsForQuantity[i].Name" />
                                }
                            }
                            @if (Model.Quantity.QuantityUnits != null)
                            {
                                @for (int i = 0; i < Model.Quantity.QuantityUnits.Count; i++)
                                {
                                    <input type="hidden" name="Quantity.QuantityUnits[@i].Id" value="@Model.Quantity.QuantityUnits.ElementAt(i).Id" />
                                    <input type="hidden" name="Quantity.QuantityUnits[@i].UnitId" value="@Model.Quantity.QuantityUnits.ElementAt(i).UnitId" />
                                    <input type="hidden" name="Quantity.QuantityUnits[@i].QuantityId" value="@Model.Quantity.QuantityUnits.ElementAt(i).QuantityId" />
                                }
                            }
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Наименование</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Quantity.Name" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Quantity.Name"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Единицы измерения</label>
                                <div class="col-sm-10">
                                    <select class="multiple-select w-100" data-placeholder="Выбирайте что угодно" asp-for="@Model.SelectedUnits" multiple="multiple">
                                        @if (Model.UsedUnits != null)
                                        {
                                            @foreach (var unit in Model.UsedUnits)
                                            {
                                                <option value="@unit.Id" selected="selected">@unit.Name</option>
                                            }
                                        }
                                        @if (Model.NotUsedUnitsForQuantity != null)
                                        {
                                            @foreach (var unit in Model.NotUsedUnitsForQuantity)
                                            {
                                                <option value="@unit.Id">@unit.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-light px-4" value="Сохранить" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptPage
{
    <script src="~/plugins/select2/js/select2.min.js" asp-append-version="true"></script>
    <script>
        $('.multiple-select').select2({
            theme: 'bootstrap4',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
    </script>
}